.inline-block {
  display: inline-block;
}

.clear:before,
.clear:after {
  content:"";
  display:table;
}
.clear:after {
  clear:both;
}
.clear {
  zoom:1; /* For IE 6/7 (trigger hasLayout) */
}

.fleft {
  float: left;
}

.fright {
  float: right;
}
